<!DOCTYPE html>
<html>
<head>
    <title>구구덕 참여 신청하기</title>
</head>
<body>
    <h1>양식을 채우고 제출하세요</h1>
    <form method="post">
        <label for="name">이름:</label><br>
        <input type="text" id="name" name="name"><br><br>
        
        <label for="school">학교:</label><br>
        <input type="text" id="school" name="school"><br><br>

        <label for="startTime">시작 가능 시간:</label><br>

        <select id="start_period" name="start_period">
            <option value="AM">오전</option>
            <option value="PM">오후</option>
        </select><br>

        <label for="start_hour">시:</label>
        <select id="start_hour" name="start_hour">
            {% for hour in range(1, 13) %}
                <option value="{{ hour }}">{{ hour }}</option>
            {% endfor %}
        </select>

        <label for="start_minute">분:</label>
        <select id="start_minute" name="start_minute">
            {% for minute in range(0, 60, 15) %}
                <option value="{{ minute }}">{{ minute }}</option>
            {% endfor %}
        </select><br><br>

        <label for="endTime">종료 예정 시간:</label><br>

        <select id="end_period" name="end_period">
            <option value="AM">오전</option>
            <option value="PM">오후</option>
        </select><br>

        <label for="end_hour">시:</label>
        <select id="end_hour" name="end_hour">
            {% for hour in range(1, 13) %}
                <option value="{{ hour }}">{{ hour }}</option>
            {% endfor %}
        </select>

        <label for="end_minute">분:</label>
        <select id="end_minute" name="end_minute">
            {% for minute in range(0, 60, 15) %}
                <option value="{{ minute }}">{{ minute }}</option>
            {% endfor %}
        </select><br><br>

        <input type="submit" value="제출">
    </form>
</body>
</html>
